
#abc{
    width: 100px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    float:right;
    font-size: 14px;
    background-color: white;
    background-position: 20px 20px; 
    background-repeat: no-repeat;
    padding: 8px 10px 12px 18px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#abc:focus {
    width: 20%;
}