#navibar2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
#li2 {
    float: left;
}

#li2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#li2 a:hover:not(.active) {
    background-color: #ffd747;
}

.choose {
    background-color: #00bf55;
}